global
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log     global
    mode    http

    stats   enable
    stats   uri             /haproxy?stats
    stats   auth            admin:yourpasswordhere
    stats   realm           Haproxy\ Statistics
    stats   refresh         5s

    option  httplog
    option  contstats
    option  redispatch
    option  forwardfor
    option  dontlognull
    option  abortonclose
    option  http-server-close
    # option  httpchk         HEAD /haproxy?monitor HTTP/1.0

    retries                 3
    backlog                 10000

    timeout queue           30s
    timeout check           5s
    timeout tarpit          60s
    timeout client          10s
    timeout server          10s
    timeout tunnel          3600s
    timeout connect         5s
    timeout http-request    10s
    timeout http-keep-alive 1s

    # errorfile 400 /etc/haproxy/errors/400.http
    # errorfile 403 /etc/haproxy/errors/403.http
    # errorfile 408 /etc/haproxy/errors/408.http
    # errorfile 500 /etc/haproxy/errors/500.http
    # errorfile 502 /etc/haproxy/errors/502.http
    # errorfile 503 /etc/haproxy/errors/503.http
    # errorfile 504 /etc/haproxy/errors/504.http

    default-server              inter 3s rise 2 fall 3

frontend derpycoder.site
    bind 127.0.0.1:80
    bind 127.0.0.1:443 ssl crt certs/haproxy/ui.pem alpn h2,http/1.1

    maxconn 50000

    http-request    redirect    scheme https code 301 unless { ssl_fc }
    http-request    redirect    prefix https://derpycoder.site code 301 if { hdr(host) -i www.derpycoder.site }

    http-request    early-hint  Link                        "</app.css>; rel=preload; as=style"
    http-request    early-hint  Link                        "</app.js>; rel=preload; as=script"

    # Verify VIA: securityheaders.io
    http-response   set-header  X-XSS-Protection            1;mode=block
    http-response   set-header  Permissions-Policy          autoplay='none';camera='none';microphone='none';geolocation='none';usb='none'
    http-response   set-header  X-Frame-Options             SAMEORIGIN
    http-response   set-header  X-Content-Type-Options      nosniff
    http-response   set-header  Referrer-Policy             strict-origin-when-cross-origin
    http-response   set-header  Strict-Transport-Security   max-age=31536000;includeSubDomains;preload

    http-response   set-header  X-Server %s

    # http-response del-header via

    use_backend %[req.hdr(host),lower,map_dom(hosts.map,phoenix)]

# Phoenix Server
backend phoenix
    # Health Check
    # option httpchk OPTIONS /health
    compression     algo        gzip
    compression     type        text/html text/plain text/css

    server phoenix 127.0.0.1:4000 maxconn 10000 weight 10 cookie phoenix check

# Cockroach DB Dashboard
backend cockroach
    http-request redirect prefix https://cockroach.derpycoder.site:8080 code 301

    server cockroach 127.0.0.1:8080 check

backend pgweb
    server pgweb 127.0.0.1:8000 check

# Minio Dashboard
backend minio
    http-request redirect prefix https://minio.derpycoder.site:9443 code 301

    server minio 127.0.0.1:9443 check

backend search
    server meilisearch 127.0.0.1:7700 check

backend netdata
    server netdata 127.0.0.1:19999 check

# Minio API
backend s3
    http-request redirect prefix https://s3.derpycoder.site:9000 code 301

    server s3 127.0.0.1:9000 check

# Imgproxy via Varnish Cache
backend img
    server varnish 127.0.0.1:3000 check
